@model Broadcast.AspNetCore.Test.Controllers.StorageItem

@{
	ViewData["Title"] = "Custom Dashboard";
}


@foreach (var item in Model.Items.OrderBy(i => i.Key))
{
	<li>
		<div class="broadcast-toggler-section">
			@if(item.Items.Any())
			{
				<div class="broadcast-toggler-button"></div>
			}
			<div>
				<div data-value="@item.Value" class="@(!string.IsNullOrEmpty(item.Value) ? "broadcast-storage-btn" : "")">@item.Key</div>
				@*<span>@item.Value</span>*@
			</div>
		</div>
		<ul class="broadcast-toggle-wrapper">
			<partial name="Partials/_StorageKey" for="@item" />
		</ul>
	</li>
}